.header {
  background-color: whitesmoke;
}
.sider {
  overflow: auto;
  height: 100vh;
  left: 0;
  position: fixed;
}

.siderMenuText{
  color: white;
}

.content {
  position: relative;
  padding: 20px 0px;
}

.layoutMain {
  overflow: hidden;
}

.layoutChild {
  position: relative;
  left: 220px;
}